* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{

  --border: #ffc800;
}

/* write your CSS here */

body {
  background-color: #f0f0ff;
}

.card {

  width: 80%;
  border-radius: 5%;
  box-shadow: 5px 5px 1px rgb(235, 228, 252);
  background-color: white;

  max-width: 38rem;
  min-width: 30rem;

  margin: auto;
}

.card__content {

  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
  /* clamp? */

}

.card__content > * {
  margin-bottom: .6rem;
}

.card__title{
  font-family:s;
  font-size: ;

  /* needs wwork */
}

.card__rating{

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* gap:5px */
  /* size increase? */

}

.card__rating img{

  height: 80%;
  width: 60%;
  padding: .8rem .2rem;
}
 



.card__textreply{

  font-family:sans-serif;
  line-height: 1.7rem;
}

/* HOVER EFFECTS */

body:has(.star5:hover) .card__star{

  -webkit-filter: drop-shadow(1px 0 0 var(--border))
  drop-shadow( -1px 0 0 var(--border))
  drop-shadow(1px 0 0 var(--border))
  drop-shadow(0 0 0 var(--border));


}

body:has(.star4:hover) .card__star:not(.star5){
  -webkit-filter: drop-shadow(1px 0 0 var(--border))
  drop-shadow( -1px 0 0 var(--border))
  drop-shadow(1px 0 0 var(--border))
  drop-shadow(0 0 0 var(--border));

}

body:has(.star3:hover) .card__star:not(.star5,.star4){

  -webkit-filter: drop-shadow(1px 0 0 var(--border))
  drop-shadow( -1px 0 0 var(--border))
  drop-shadow(1px 0 0 var(--border))
  drop-shadow(0 0 0 var(--border));

}


body:has(.star2:hover) .card__star:not(.star5,.star4,.star3){

  -webkit-filter: drop-shadow(1px 0 0 var(--border))
  drop-shadow( -1px 0 0 var(--border))
  drop-shadow(1px 0 0 var(--border))
  drop-shadow(0 0 0 var(--border));
}

body:has(.star1:hover) .card__star:not(.star5,.star4,.star3, .star2){

  -webkit-filter: drop-shadow(1px 0 0 var(--border))
  drop-shadow( -1px 0 0 var(--border))
  drop-shadow(1px 0 0 var(--border))
  drop-shadow(0 0 0 var(--border));

}
